html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

* {
  animation: trans-fade .75s;
}

.container {
  max-width: 1140px;
}

.card {
  /* height: 450px; */
  margin: 15px 0 15px;
}

.category-card {
  height:35vh;
}

.category-card:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  cursor: pointer;
}

.card-img-top {
  height: 60%;
  margin-top: 1rem;
  object-fit: contain;
}

.card-body {
  height: 40%;
}

.card-title {
  text-align: center;
}

.detail-container {
  border: 2px solid rgb(240, 240, 240);
  border-radius: 5px;
}

.card-img {
  height: 280px;
  padding: 10px;
  object-fit: contain;
}

.pointer {
  cursor: pointer;
}

.backdrop {
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
}

.modal-contents {
  max-width: 450px;
  user-select: none;
}

.cart-content, .product-content, .product-detail, .checkout-container {
  min-height: 80vh;
}
