.headerRow {
  color: white;
}

.headerRow p {
  margin: 0;
}

.card {
  height: 400px;
  margin: 15px 0 15px;
}

.card-img-top {
  height: 60%;
  object-fit: contain;
}

.card-body {
  height: 40%;
}

.product-detail img {
  height: 40%;
  object-fit: contain;
}

.detail-container {
  border: 2px solid rgb(240, 240, 240);
  border-radius: 5px;
}

.cart-item-row {
  height: 300px
}

.shoppingCartBtn {
  font-size: 1.25rem;
}

.card-img {
  height: 280px;
  padding: 10px;
  object-fit: contain;
}
